@charset "UTF-8";

.sdss-masthead-content .menu--utility-navigation {
  /* Utility navigation menu styles
   * This menu is used for the utility navigation in the masthead.
   * As part of Quickstrike 2 in Summer 2025 the decision was made to hide this 
   * on smaller screens. To re-enable this menu switch "none" to "block" below 
   * and do comprehensive testing and re-styling to accommodate the different
   * header options.
   */
  display: none;
  margin: 0;
  bottom: 1.25rem;
  right: 8rem;
  z-index: 104;

  ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;

    li.menu-item {
      display: inline-block;
      margin: 0 1.1rem 0 0;

      a {
        display: inline-block;
        padding: .4rem .8rem .6rem .8rem;
        font-size: 1.5rem;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    li.menu-item:nth-child(odd) {
      a {
        color: $sdss-color-palo-alto-dark;
        background-color: $sdss-color-white;
        border: .2rem solid $sdss-color-white;

        &:hover {
          text-decoration-color: $sdss-color-grey-dark;
        }
      }
    }

    li.menu-item:nth-child(even) {
      a {
        color: $sdss-color-white;
        background-color: $sdss-color-palo-alto-dark;
        border: .2rem solid $sdss-color-white;

        &:hover {
          text-decoration-color: $sdss-color-grey-60;
        }
      }
    }

    li.menu-item:last-of-type {
      margin: 0;
    }
  }
}

@include grid-media-min('md') {
  .sdss-masthead-content .menu--utility-navigation {
    bottom: 1.5rem;
    right: 11rem;

    ul.menu {
      margin: 0;
      padding: 0;

      li.menu-item {
        margin: 0 1.8rem 0 0;

        a {
          padding: .8rem 2rem 1rem 2rem;
          font-size: 1.8rem;
        }
      }

      li.menu-item:last-of-type {
        margin: 0;
      }
    }
  }
}

@include grid-media-min('lg') {
  .sdss-masthead-content .menu--utility-navigation {
    display: block;
  }
}
