.su-pinned-background-section {
    position: relative;
    width: 100%;

    .spacer {
        @media (min-height: 601px) {
            height: 45svh;
        }
    }

    .su-pinned-slide {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-color: black;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media (min-height: 601px) and (min-width: 601px) {
            background-attachment: fixed;
        }

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        padding: 20px;

        @include grid-media-min('sm') {
            padding: 3rem;
        }

        @include grid-media-min('md') {
            padding: 5rem;
        }

        @include grid-media-min('lg') {
            padding: 8rem;
        }

        @include grid-media-min('xl') {
            padding: 82px 0;
        }

        &.first {
            @media (min-height: 601px) {
                top: 0;
                height: 100svh;
            }
        }

        &__pause_holder {
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            padding-right: 4rem;
            pointer-events: none;
            z-index: 2;

            display: flex;
            justify-content: flex-end;

            width: 100%;
            @include grid-media-min('xl') {
                width: calc(100%-16rem);
                max-width: 2000px;
            }

            @include grid-media-min('sm') {
                padding-right: 3rem;
                bottom: 3rem;
            }

            @include grid-media-min('md') {
                padding-right: 5rem;
                bottom: 5rem;
            }

            @include grid-media-min('lg') {
                padding-right: 8rem;
                bottom: 8rem;
            }

            @include grid-media-min('xl') {
                padding-right: 0;
                bottom: 82px;
            }
        }

        &__play_pause {
            position: relative;
            pointer-events: all;
            width: 40px;
            height: 40px;
            padding: 0;
            margin: 0;
            background-color: transparent;
            border: none;
            min-width: 0;
            z-index: 9;
            overflow: visible;
            &:focus {
                outline: none;
            }
            &:focus-visible {
                outline: 3px solid white;
            }
            img {
                pointer-events: none;
            }
            
        }

        iframe {
            //opacity: 0;
        }

        &__bg-video-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300%;
            height: 300%;
            transform: translate(-50%,-50%) scale(1.4);
            pointer-events: none;
            z-index: 0;

            @include grid-media-min('md') {
                width: 200%;
                height: 200%;
            }

            @include grid-media-min('xl') {
                height: 100%;
                width: 100%;
            }

            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &__inner {
            width: 100%;
            position: relative;
            pointer-events: none;
            z-index: 99;
            will-change: transform, opacity;
            transform: translateZ(0);            /* create a new layer */
            backface-visibility: hidden;
            -webkit-font-smoothing: antialiased; /* optional but helps text flicker */
            @include grid-media-min('xl') {
                width: calc(100%-16rem);
                max-width: 2000px;
            }

            &__content {
                width: 100%;
                padding: 20px;
                position: relative;
                overflow: hidden;
                opacity: 0;
                pointer-events: all;
                backface-visibility: hidden;

                @include grid-media-min('sm') {
                    width: 80%;
                }

                @include grid-media-min('xl') {
                    max-width: 800px;
                    padding: 50px 40px;
                }
            }

            &__bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 50%;
                z-index: -1;
            }

            color: white;

            h2 {
                color: white;
                font-family: $su-font-serif-v2;
                font-weight: 'Regular';
                line-height: 100%;
                margin-bottom: 18px;
                font-size: 50px;

                @include grid-media-min('sm') {
                    max-width: calc(100%-60px);
                    font-size: 8vw;
                }

                @include grid-media-min('lg') {
                    font-size: 90px;
                    max-width: 700px;
                }

                @include grid-media-min('xl') {
                    font-size: 100px;
                    max-width: 900px;
                }

                &.small {
                    font-size: 30px;

                    @include grid-media-min('sm') {
                        font-size: 5vw;
                    }

                    @include grid-media-min('lg') {
                        font-size: 40px;
                    }

                    @include grid-media-min('xl') {
                        font-size: 66px;
                    }

                }

                &.medium {
                    font-size: 40px;

                    @include grid-media-min('sm') {
                        font-size: 6vw;
                    }

                    @include grid-media-min('lg') {
                        font-size: 65px;
                    }

                    @include grid-media-min('xl') {
                        font-size: 80px;
                    }

                }

                padding-bottom: 0;

                &:after {
                    display: none;
                }
            }

            &__body {
                &:empty {
                    display: block;
                    height: 1px;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 21px;
                    max-width: 650px;

                    &:last-child {
                        margin-bottom: 29px;
                    }
                }

            }
        }

        &__bottom {
            width: 100%;
            @include grid-media-min('xl') {
                width: calc(100%-16rem);
                max-width: 2000px;
            }
        }

        &__button {
            padding: 14px 23px;
            border: 1px solid white;
            color: white;
            text-decoration: none;
            display: inline-block;

            @include accessible-link(white);

            &:after {
                background-color: white;
            }

            &:hover {
                text-decoration: none;
                color: white;

                &:after {
                    background-color: white;
                }
            }
        }
    }
}