.page-stanford-sustainability-homepage-2025, .sustainability-homepage {

    .page-content {
        overflow: hidden;
    }
    .paragraph-item {
        overflow: hidden;
        position: relative;
    }
    .su-button {
        @include accessible-link(white);
    }

    .paragraph-item:has(.su-pinned-background-section) + .paragraph-item {
        padding-top: 50px;

        @include grid-media-min('md') {
            padding-top: 100px;
        }
    }
    .paragraph-item > .ptype-stanford-layout > .layout:not(:has(.su-departments-slider,.su-pinned-background-section,.su-image-cta)) {
        max-width: 2000px;
        margin-left: 20px;
        width: calc(100%-40px);

        @include grid-media-min('sm') {
            margin-left: 3rem;
            width: calc(100%-6rem);
        }

        @include grid-media-min('md') {
            margin-left: 5rem;
            width: calc(100%-10rem);
        }

        @include grid-media-min('lg') {
            margin-left: 8rem;
            width: calc(100%-16rem);
        }
        
        @include grid-media-min('xl') {
            margin-left: auto;
            margin-right: auto;
        }

        .ptype-stanford-card,
        .ptype-stanford-lists,
        .ptype-sdss-filtered-lists,
        .su-wysiwyg-text,
        .ptype-su-horizontal-bar {
            max-width: 100%;
            width: 100%;
        }

        .ptype-stanford-wysiwyg, .ptype-su-horizontal-bar {
            margin-left: 0;
        }
    }
    .paragraph-item:has(.institutes-header) {
        @include grid-media-min('md') {
            margin-bottom: -30px !important;

            .institutes-header {
                margin-bottom: 0 !important;
            }
        }
    }
    .layout--layout-paragraphs-three-column.layout-paragraphs-sdss-bgcolor {
        padding-left: 0;
        padding-right: 0;
    }
    .layout--layout-paragraphs-one-column, .layout--layout-paragraphs-one-four-one, .layout--layout-paragraphs-three-column, .layout--layout-paragraphs-two-column {
        padding-bottom: 0;
        padding-top: 0;
    }
    .layout--layout-paragraphs-one-column>div, .layout--layout-paragraphs-three-column>div, .layout--layout-paragraphs-two-column>div {
        margin-bottom: 0;
        margin-top: 0;
    }
    .layout--layout-paragraphs-one-column .paragraph.paragraph--type--stanford-wysiwyg {
        max-width: 2000px;
        margin: 0 auto;

        .su-intro-text {
            max-width: 1200px;
            width: 100%;
            color: #2E2D29;
            font-size: 30px;

            @include grid-media-min('sm') {
                font-size: 40px;
            }

            @include grid-media-min('md') {
                font-size: 52px;
            }
            line-height: 120%;
            font-family: $su-font-serif-v2;
            font-weight: 400;
        }
    }

    .ptype-stanford-card {
        > div {
            height: 100%;
        }
    }

    .layout-paragraphs-sdss-bgcolor--grey-dark {
        background-color: #2E2D29;
        color: white;
        margin-bottom: 50px;

        @include grid-media-min('md') {
            margin-bottom: 118px;
        }

        &.layout--layout-paragraphs-sdss-two-column-larger-right {
            gap: 0;
            display: flex;
            flex-direction: column;

            @include grid-media-min('xl') {
                flex-direction: row;
            }
            
            .layout__region--main {
                padding: 20px 20px 0 20px;

                picture {
                    max-width: 300px;

                    @include grid-media-min('xl') {
                        max-width: none;
                    }
                }

                @include grid-media-min('md') {
                    padding: 71px 71px 0 71px;
                }

                @include grid-media-min('xl') {
                    padding: 0;

                    min-width: 30%;
                    max-width: 30%;

                    div {
                        height: 100%;
                    }

                }

                .field-media-image, .contextual-region, .su-wysiwyg-text {
                    padding: 0;
                    margin: 0;

                    @include grid-media-min('xl') {
                        height: 100%;
                        width: auto;
                    }
                }

                .media-entity-wrapper {
                    height: 100%;
                    width: auto;
                    float: none;

                    picture {
                        display: block;
                        height: 100%;
                        width: auto;

                        img {
                            display: block;
                            height: 100%;
                            width: 100%;
                            max-width: none;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }

            }

            .layout__region--sidebar {
                width: 100%;
                flex: 1;
                padding: 20px;

                @include grid-media-min('md') {
                    padding: 56px 71px;
                }

                h3 {
                    font-family: $su-font-serif-v2;

                    @include grid-media-max('md') {
                        font-size: 28px;
                        letter-spacing: -0.1px;
                    }
                    font-size: 48px;
                    letter-spacing: -0.5px;
                }

                p {
                    font-size: 18px;
                    font-weight: 300;

                    strong {
                        font-weight: 300;
                        text-transform: uppercase;
                    }
                }

                p.sdss-block-quote--sm {
                    font-family: $su-font-serif-v2;
                    font-size: 28px;
                    line-height: 36px;
                    letter-spacing: -0.3px;

                    @include grid-media-max('md') {
                        font-size: 22px;
                        line-height: 30px;
                        letter-spacing: -0.1px;
                    }
                }

                .su-button {
                    @include arrow-btn();
                    padding: 14px 23px;
                    border: 2px solid white;
                    color: white;

                    &:hover {
                        text-decoration: none;
                        color: white;
                    }
                }
            }

        }

        .paragraph--type--stanford-wysiwyg {
            h2, h3, p {
                color: white;
            }
        }
    }

    .layout-paragraphs-sdss-bgcolor--red {
        background-color: #8C1515;
        color: white;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: -100vw;
            width: 200vw;
            height: 100%;
            z-index: -1;
            background-color: #8C1515;
        }

        .text-long {
            padding-top: 50px;

            @include grid-media-min('md') {
                padding-top: 150px;
            }
            p {
                font-family: $su-font-serif-v2;
                font-size: 30px;
                line-height: 110%;
                font-weight: 400;
                max-width: 1150px;
                @include text-with-bottom-bar();
                padding-bottom: 50px;
                margin-bottom: 50px;

                @include grid-media-min('md') {
                    font-size: 54px;
                    line-height: 65px;

                    padding-bottom: 55px;
                    margin-bottom: 90px;
                }

                &:after {
                    background-color: white;
                }
            }
        }

        &.layout--layout-paragraphs-sdss-three-column {
            padding-bottom: 50px;
            @include grid-media-min('md') {
                padding-bottom: 150px;
            }
        }

        .paragraph--type--stanford-wysiwyg, .su-card {
            h2, h3, p {
                color: white;
            }
        }

        .su-header-link__button {
            @include accessible-link(white);
        }

        .su-card {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            height: 100%;
            h2, h3, p {
                color: #2E2D29;
            }

            .media-entity-wrapper {
                order: 1;
            }

            .su-card__superheadline {
                &:empty {
                    display: none;
                }
            }

            .su-card__headline {
                font-family: $su-font-sans;
                order: 2;
                padding: 20px;
                font-size: 24px;
                margin-bottom: 0;

                @include grid-media-min('md') {
                    padding: 40px;
                    padding-bottom: 23px;
                }
            }

            .su-card__contents {
                padding: 0 20px 20px 20px;
                flex: 1;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                @include grid-media-min('md') {
                    padding: 0 40px 40px 40px;
                }

                p {
                    font-size: 18px;
                }
            }

            .su-card__button {
                padding: 0;
                padding-top: 20px;

                @include grid-media-min('md') {
                    padding-top: 46px;
                }
                margin: 0;
                &:after {
                    display: none;
                }
                a {
                    @include arrow-btn-border();
                    border-color: #8C1515;
                    padding: 14px 18px !important;

                    @include accessible-link(#8C1515);
                }
            }

        }
    }

    .paragraph--type--stanford-wysiwyg,.stanford-lists.su-list-headline {
        h2 {
            font-family: $su-font-serif-v2;
            font-weight: 400;
            font-size: 50px;
            line-height: 100%;

            @include grid-media-min('md') {
                font-size: 80px;
            }

            @include grid-media-min('lg') {
                font-size: 100px;
            }

            @include grid-media-min('xl') {
                font-size: 110px;
            }

            letter-spacing: -1.3px;
            color: #8C1515;
            @include text-with-bottom-bar();
        }

        h3 {
            font-size: 32px;
            line-height: 120%;
            font-weight: 400;
            color: #2E2D29;
            margin-bottom: 28px;
        }

        p {
            font-size: 21px;
            color: #2E2D29;
            max-width: 735px;
            font-weight: 400;
        }
    }

    .ptype-stanford-card {
        height: 100%;

        > .contextual-region {
            height: 100%;
        }
    }

    .su-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__headline {
            font-family: $su-font-serif-v2;
            font-size: 28px;
            line-height: 120%;
            font-weight: 400;
            color: #2E2D29;
            flex: 0;
        }

        &__contents {
            padding-bottom: 0;
            padding-right: 0;
        }

        &__button {
            margin: 0;
            padding: 0;

            margin-top: 32px;
            padding-top: 17px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-color: #2E2D29;
                height: 1px;
                opacity: 30%;
                width: 100%;
            }

            .su-button {
                color: #8C1515 !important;
                font-size: 20px !important;
                text-decoration: none !important;
                margin: 0 !important;
                padding: 0 !important;
                background-color: transparent !important;
                text-align: left !important;

                &:after {
                    background-color: #8C1515 !important;
                }

                &:hover {
                    color: #8C1515 !important;

                    &:after {
                        background-color: #8C1515 !important;
                    }
                }
            }
        }
    }

    .stanford-news--cards {
        ul {
            display: flex;
            flex-direction: column;
            gap: 50px;

            @include grid-media-min('md') {
                gap: 140px;
            }

            li {

                .su-card {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 30px;

                    @include grid-media-min('md') {
                        flex-direction: row;
                    }

                    .su-figure__wrapper, .su-content__wrapper {
                        width: 100%;
                        @include grid-media-min('md') {
                            width: 50%;
                            flex: 1;
                        }
                    }

                    .su-figure__wrapper {
                        @include grid-media-min('md') {
                            margin-bottom: 0;
                        }
                    }

                    .su-content__wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        @include grid-media-min('md') {
                            padding-left: 40px;
                            padding-right: 40px;
                        }
                        @include grid-media-min('lg') {
                            padding-left: 86px;
                            padding-right: 60px;
                        }
                    }

                    .news-vertical-teaser__pub-date {
                        font-size: 16px;
                        color: #2E2D29;
                        margin-bottom: 15px;
                    }

                    .su-news-header {
                        margin-bottom: 14px;
                    }

                    .su-news-vertical-teaser__link {
                        text-decoration: none;
                        margin-bottom: 0;

                        &:after {
                            display: none !important;
                        }

                        h2 {
                            font-size: 32px;
                            color: #2E2D29;
                            line-height: 36px;
                            margin-bottom: 0;

                            @include grid-media-min('sm') {
                                font-size: 36px;
                                line-height: 40px;
                            }
                        }
                    }

                    .su-card__contents {
                        p {
                            font-size: 18px;
                            color: #2E2D29;
                        }
                    }

                    .news-vertical-teaser__source {
                        margin-top: 14px;
                        color: #2E2D29;
                        font-style: italic;
                        font-size: 18px;
                    }

                    .su-list-unstyled {
                        margin-top: 10px;
                        @include grid-media-min('md') {
                            margin-top: 50px;
                        }
                        a {
                            @include arrow-btn-border();
                            display: inline-block;
                            color: #8C1515;
                            border-color: #8C1515;
                            font-size: 20px;
                            text-decoration: none;

                            &:before {
                                content: "Explore: ";
                            }

                            @include accessible-link(#8C1515);

                            &:after {
                                background-color: #8C1515;
                            }

                            &:hover {
                                color: #8C1515;

                                &:after {
                                    background-color: #8C1515;
                                }
                            }
                        }
                    }
                }

                &:nth-child(2n) {
                    .su-card {
                        @include grid-media-min('md') {
                            flex-direction: row-reverse;
                        }

                        .su-content__wrapper {
                            @include grid-media-min('lg') {
                                padding-left: 60px;
                                padding-right: 60px;
                            }
                        }

                        .su-figure__wrapper {
                            @include grid-media-min('md') {
                                min-width: calc(50%+9px);
                            }
                        }
                    }
                }

            }
        }
    }

    .layout--layout-paragraphs-sdss-two-column {
        margin-bottom: 50px;  

        @include grid-media-min('md') {
            margin-bottom: 137px;  
            margin-top: 63px;
        }

        .su-card {
            height: 100%;
            @include grid-media-max('md') {
                margin-bottom: 50px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        h2 {
            font-size: 50px;
            flex: 1;
            @include grid-media-min('md') {
                font-size: 96px;
            }
        }

        .su-button {
            @include accessible-link(#8C1515);
        }

        p {
            .su-button {
                @include arrow-btn();
                color: #8C1515;
                font-size: 24px;
                @include grid-media-min('md') {
                    font-size: 36px;
                }
                margin-left: 0;
                margin-right: 0;
                padding: 0;
                text-decoration: underline;
                display: block;
                margin-bottom: 50px;
                text-align: left;

                @include accessible-link(#8C1515);

                &:after {
                    background-color: #8C1515;
                    width: 25px;
                    height: 25px;
                }

                &:hover {
                    color: #8C1515;

                    &:after {
                        background-color: #8C1515;
                    }
                }
            }
        }
    }
}