<dialog class = "su__popup" id = "su_popup" role = "dialog" aria-modal = "true" aria-label = "Video popup modal" inert = "true" style = "dislay:none">
    <div class = "su__popup__inner">
        <div role = "button" class = "su__popup__close first-focusable-element" tabindex = "0" aria-label="close video"></div>

        <div class = "iframe_holder">
            <div id = "su__popup__video" class="su__popup__video"></div>
        </div>

        <div tabindex = "0" class = "last-focusable-element"></div>
    </div>
</dialog>
