@charset "UTF-8";

// Publications Node
.publication {
    .content {
        .jumpstart-ui--one-column.centered-content {
            > div:first-child {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .node-stanford-publication-citation-type {
            color: $su-color-black-70;
        }

        .node-stanford-publication-su-publication-topics {
            h2 {
                @include responsive-spacing('margin-top', 7);

            }
        }

        // Grid details. Grid happens only for LG and up screensizes.
        .sdss-publication-content .main-region {
            @include grid-media-min(lg) {
                display: grid;
                grid-template-columns: 75% 25%;
                column-gap: 4rem;
            }
        }

        .node-stanford-publication-su-publication-cta {
            @include grid-media-min(lg) {
                grid-column-start: 2;
            }
        }

        .node-stanford-publication-su-publication-components {
            @include grid-media-min(lg) {
                grid-column-start: 1;
                grid-row-end: span 2;
            }
        }

        // Grid changes for the max size of Medium.
        @include grid-media-max(md) {
            .jumpstart-ui--one-column .container-1-items {
                margin-right: unset;
                margin-left: unset;
            }

            .publication .node-stanford-publication-su-publication-citation {
                font-size: 2rem;
                margin-top: 6rem;
            }
        }
    }
}


// Related publications cards
.stanford-publications-related {
    .su-card {
        &.sdss-card--publication {
            padding: 0;
            border: 0;
            box-shadow: none;

            .su-card__headline {
                @include type-c;

                color: $su-color-black;
            }

            .su-card__contents {
                padding: 0;

                a {
                    @include sdss-link--primary;
                    @include type-e;

                    border-radius: 0; // for the edit publication button.

                    &:hover,
                    &:active,
                    &:focus {
                        text-decoration: underline;
                    }

                    &.su-button--secondary {
                        margin-top: 1em;
                        text-decoration: none;

                        &:hover,
                        &:active,
                        &:focus {
                            text-decoration: underline;
                        }
                    }
                }

            }
        }
    }

    .su-card__superheadline {
        @include type-e;

        padding-bottom: 1em;
        display: inline-block;
        text-transform: uppercase;
        color: $su-color-black-70;
    }
}

// Overrides
.stanford-publications.view {
    a {
        color: $su-color-black;
        font-weight: unset;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            color: $sdss-color-green-link;
            text-decoration: underline;
        }
    }

    .more-link {
        a {
            @include sdss-button--secondary;
        }
    }

    .views-field-edit-node {
        padding-top: 1em;

        .su-button--secondary {
            border-radius: 0;
        }
    }

    .views-field-su-publication-citation {
        a {
            text-decoration: underline;

            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
    }
}

.stanford-publications-related {
    .block__title {
        text-align: unset;
    }
}

.publication {
    .jumpstart-ui--one-column {
        .node-stanford-publication-su-publication-topics {
            .su-publication-topics {
                li {
                    a {
                        @include sdss-link--primary;
                    }

                }
            }
        }
    }
}

