
///
/// Centered Container
///
/// Centers the first child element of which this class is applied to.
///
///

// Adjustments to the centered container to have a max-width of 2000px.


.centered-container {
    @if(mixin-exists(sdss-centered-column)) { @include sdss-centered-column(); }
}

.su-brand-bar__container,
.su-local-footer__columns,
.su-local-footer__header,
.su-global-footer__container,
.jumpstart-ui--one-column.centered-content {
    @include sdss-centered-column;
}

///
/// Large Text Container
///
/// Expands the width of the container of the large text element.
///
///

.su-page-components .layout--layout-paragraphs-sdss-two-column-larger-left:has(.su-large-text) {
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

    @include grid-media-min('md') {
        margin-bottom: 100px;
    }
}
