@charset "UTF-8";

// Combine together with default class for precedence over row background color
// styles.
.sdss-card-wrapper--default {

  &.sdss-card-wrapper--white-border {
    article.su-card {
      background: white;
      box-shadow: none;
    }
  }

  // Borders
  &.sdss-card-wrapper--border-none {
    article.su-card {
      box-shadow: none;
      border: none;
    }
  }

  &.sdss-card-wrapper--white-border {
    article.su-card {
      background: white;
      box-shadow: none;
    }
  }

  // Card variants which are for the colored row backgrounds.
  // Grey backgound with shadow
  &.sdss-card-wrapper--grey-dropshadow {
    article.su-card {
      background-color: $sdss-color-grey-light;
      border: 1px solid $sdss-color-grey-light;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    }
  }
  // Grey background without shadow
  &.sdss-card-wrapper--grey-bg {
    article.su-card {
      border: 1px solid #D2D2D2;
      background-color: #F5F5F5;
      padding: 21px 25px;
      box-shadow: none;

      .su-card__headline {
          font-size: 19px;
          line-height: 135%;
          padding-top: 0;
          padding-left: 0;
          color: black;
      }

      .su-card__contents {
          padding: 0;

          .su-link {
              @include arrow-btn();
              text-decoration: none !important;
              color: #8C1515 !important;

              &:after {
                  background-color: #8C1515;
              }
          }
      }
    }
  }

  // White background with shadow
  &.sdss-card-wrapper--white-dropshadow {
    article.su-card {
      background-color: $sdss-color-white;
      border: 1px solid $sdss-color-grey-light;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    }
  }

  // White background with border
  &.sdss-card-wrapper--white-border {
    article.su-card {
      background-color: $sdss-color-white;
      border: 1px solid $sdss-color-grey-light;
    }
  }

  &.sdss-card-wrapper--white-border,
  &.sdss-card-wrapper--white-dropshadow,
  &.sdss-card-wrapper--grey-dropshadow {

    &.sdss-card-wrapper--title,
    &.sdss-card-wrapper--topic {
      article.su-card {
        .su-card__contents,
        .su-card__headline {
          @include responsive-spacing('padding-left', 1);

        }
      }
    }

  }

  // Grey backgound with shadow
  &.sdss-card-wrapper--grey-dropshadow {
    article.su-card {
      background-color: $sdss-color-grey-light;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    }
  }

  // White background with shadow
  &.sdss-card-wrapper--white-dropshadow {
    article.su-card {
      background-color: $sdss-color-white;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    }
  }

}

// Green background row - with cards
// Other Background colors:
// sdss-card-wrapper--grey-dropshadow
// sdss-card-wrapper--white-dropshadow
// sdss-card-wrapper--white-border
.layout-paragraphs-sdss-bgcolor--green {
  .su-card {
    .su-card__headline {
      color: $su-color-white;
    }

    .su-card__contents {
      p a,
      h2 a,
      .su-link--action {
        color: $su-color-white;

        &:hover,
        &:focus,
        &:active {
          color: $sdss-color-white;

          &::after {
            background-color: $sdss-color-white;
          }
        }

        &::after {
          background-color: $su-color-white;
        }
      }
    }
  }

  .su-news-vertical-teaser.su-card {
    .su-news-vertical-teaser__link {
      h2 {
        color: $su-color-white;

        &:hover,
        &:focus,
        &:active {
          color: $sdss-color-white;

          &::after {
            background-color: $sdss-color-white;
          }
        }
      }
    }

    .su-news-header {
      .news-vertical-teaser__pub-date {
        color: $su-color-white;
      }
    }

    .su-card__contents {
      a.su-link--external {
        color: $su-color-white;

        &:hover,
        &:focus,
        &:active {
          color: $sdss-color-white;

          &::after {
            background-color: $sdss-color-white;
          }
        }

        &::after {
          background-color: $su-color-white;
        }
      }
    }
  }

  // Course card teaser and lists
  .su-course-vertical-teaser {
    h2 {

      &.su-link--external {
        &::after {
          background-color: $sdss-color-white;
        }
      }

      &:hover,
      &:focus,
      &:active {
        color: $sdss-color-white;

        &::after {
          background-color: $sdss-color-white;
        }
      }
    }

    .su-link.su-card__link.su-link--external {
      text-decoration: none;
    }

    .su-course-list__title,
    .su-course-link {
      a {
        color: $su-color-white;

        &::after {
          background-color: $sdss-color-white;
        }

        &:hover,
        &:focus,
        &:active {
          color: $sdss-color-white;
          text-decoration: underline;

          &::after {
            background-color: $sdss-color-white;
          }
        }
      }
    }
  }

  .su-course-list-item {
    .su-course-list__title {
      a {
        color: $su-color-white;
        text-decoration: none;

          h2 {
          color: $su-color-white;

          &::after {
            background-color: $sdss-color-white;
          }

          &:hover,
          &:focus,
          &:active {
            color: $sdss-color-white;
            text-decoration: underline;

            &::after {
              background-color: $sdss-color-white;
            }
          }
        }
      }
    }
  }

  // Person Card Teaser
  .ds-entity--stanford-person {
    .su-card {
      a {
        color: $su-color-white;

        &:hover,
        &:focus,
        &:active {
          color: $sdss-color-white;

          &::after {
            background-color: $sdss-color-white;
          }
        }
      }

      .su-person-short-title {
        color: $su-color-white;
      }
    }

  }

  // Event Card Teaser
  .stanford-entity {
    .ds-entity--stanford-event {
      .su-event-list-item.su-card {
        .su-event-list-item__details {
          .event-list-item__type {
            a {
              color: $su-color-white;

              &:hover,
              &:focus,
              &:active {
                color: $sdss-color-white;

                &::after {
                  background-color: $sdss-color-white;
                }
              }
            }

          }

          h2 {
            > a {
              color: $su-color-white;

              &:hover,
              &:focus,
              &:active {
                color: $sdss-color-white;

                &::after {
                  background-color: $sdss-color-white;
                }
              }
            }
          }
        }
      }
    }
  }
}


