{#
 * Header Option A template.
#}
<div class="sdss-masthead-main sdss-masthead-main--option-a"> 
  <div class="sdss-masthead-main-inner">
    <div class="sdss-masthead-content">
      <div class="sdss-masthead-branding">
        {{ page.header }}
      </div>
      <div class="sdss-masthead-menus">
        {% if page.utility_nav and display_utility_navigation %}
          {{ page.utility_nav }}
        {% endif %}
        {{ page.search }}
        {{ page.menu }}
      </div>
    </div>
  </div>
</div>
