@charset "UTF-8";

// Generic styles for all exposed filters in the filtered lists paragraph type.
// The decision was made in the SCSS to name this "lists-filtered" to keep it
// near the "lists" paragraph styles, even though the paragraph type is
// "sdss-filtered-lists".

.ptype-sdss-filtered-lists .views-exposed-form {
  background: $sdss-color-grey-light;
  padding: 1.2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;

  h3 {
    font-weight: $su-font-regular;
    color: $sdss-color-palo-alto-dark;
    margin-bottom: 1rem;
  }

  .form-item,
  .form-group {
    margin-bottom: 1.2rem;

    label {
      font-weight: 500;
      margin-bottom: 0.3em;
      display: block;
      color: $sdss-color-palo-alto-dark;
    }

    input,
    select {
      padding: 0.5em 0.8em;
      width: 100%;
      max-width: 400px;
      border: 1px solid $sdss-color-grey-medium;
      border-radius: 0.25rem;
      background: $sdss-color-white;
    }
  }

  .form-actions {
    margin-top: 1.2rem;

    input[type="submit"] {
      padding: 0.5em 1.2em;
      @include sdss-button--primary
    }
  }

  // Tablet and up
  @include grid-media-min('md') {
    padding: 2rem;
  }
}
