@charset "UTF-8";

// Generic styles for all exposed filters in the filtered lists paragraph type.
// The decision was made in the SCSS to name this "lists-filtered" to keep it
// near the "lists" paragraph styles, even though the paragraph type is
// "sdss-filtered-lists".

