@charset "UTF-8";

// Define link mixins here
// Example: All mixin names should be prefaced with your abbreviation (saa, soe, ood, etc)

//@mixin example-button--gray {
  // button colors here

  /* don't forget to include decanter icon color overrides too;
  ** if you override a link color, you must also override the :after psuedo element
  ** so decanter icons correspond to the link color.
  */

  // Include the correct icon color mixin inside your mixins here
  //@include example--black-icons
//}

/* 
 * Primary links.
 */
@mixin sdss-link--primary {
  color: $sdss-color-palo-alto-dark;
  outline-color: $sdss-color-palo-alto-dark;

  &::after {
    background-color: $sdss-color-palo-alto-dark;
  }

  &.mailto {
    svg {
      fill: $sdss-color-palo-alto-dark;
    }
  }

  &:hover {
    @include sdss-link-primary--hover;

    &::after {
      background-color: $sdss-color-black;
    }
  }

  &:focus {
    @include sdss-link-primary--focus;

    &::after {
      background-color: $sdss-color-black;
    }
  }

  &:active {
    @include sdss-link-primary--active;

    &::after {
      background-color: $sdss-color-black;
    }
  }
}

@mixin sdss-link-primary--hover {
  color: $sdss-color-black;
  cursor: pointer;
  text-decoration: underline;

  & svg.mailto {
    fill: $sdss-color-black;
  }
}

@mixin sdss-link-primary--focus {
  color: $sdss-color-grey-dark;
  outline: 1px solid $sdss-color-palo-alto-dark;
  background-color: transparent;
}

@mixin sdss-link-primary--active {
  color: $sdss-color-grey-dark;
}

/* 
 * Primary textual links.
 *
 * Inline textual Links for List, Teaser, Cards, Text Area.
 */
@mixin sdss-inline-textual-link {
  color: $sdss-color-palo-alto-dark;
  font-weight: $su-font-regular;
  outline-color: $sdss-color-palo-alto-dark;
  text-decoration: underline;

  &::after {
    background-color: $sdss-color-palo-alto-dark;
  }

  &.mailto {
    svg {
      fill: $sdss-color-palo-alto-dark;
    }
  }

  &:hover {
    color: $sdss-color-palo-alto-dark;
    cursor: pointer;
    font-weight: $su-font-regular;
    text-decoration: none;

    & svg.mailto {
      fill: $sdss-color-palo-alto-dark;
    }

    &::after {
      background-color: $sdss-color-palo-alto-dark;
    }
  }

  &:focus {
    color: $sdss-color-palo-alto-dark;
    outline: 1px solid $sdss-color-black;
    background-color: transparent;
    text-decoration: none;

    &::after {
      background-color: $sdss-color-palo-alto-dark;
    }
  }

  &:active {
    color: $sdss-color-palo-alto-dark;
    outline: 1px solid $sdss-color-black;
    background-color: transparent;
    text-decoration: none;

    &::after {
      background-color: $sdss-color-palo-alto-dark;
    }
  }
}

/* 
 * Primary textual links, negative.
 *
 * Inline textual Links for List, Teaser, Cards, Text Area on the dark green
 * background.
 */
@mixin sdss-inline-textual-link-negative {
  color: $sdss-color-white;
  font-weight: $su-font-regular;
  outline-color: $sdss-color-white;
  text-decoration: underline;

  &::after {
    background-color: $sdss-color-white;
  }

  &.mailto {
    svg {
      fill: $sdss-color-white;
    }
  }

  &:hover {
    color: $sdss-color-white;
    cursor: pointer;
    font-weight: $su-font-regular;
    text-decoration: none;

    & svg.mailto {
      fill: $sdss-color-white;
    }

    &::after {
      background-color: $sdss-color-white;
    }
  }

  &:focus {
    color: $sdss-color-white;
    outline: 1px solid $sdss-color-white;
    background-color: transparent;
    text-decoration: none;

    &::after {
      background-color: $sdss-color-white;
    }
  }

  &:active {
    color: $sdss-color-white;
    outline: 1px solid $sdss-color-white;
    background-color: transparent;
    text-decoration: none;

    &::after {
      background-color: $sdss-color-white;
    }
  }
}


/* 
 * Footer links, negative.
 *
 * Footer links on the dark background.
 * Used in the local footer.
 */
@mixin sdss-link-negative-footer {
  color: $sdss-color-white;
  text-decoration: none;

  &::after {
    background-color: $sdss-color-white;
  }

  &.mailto {
    svg {
      fill: $sdss-color-white;
    }
  }

  &:hover {
    color: $sdss-color-white;
    cursor: pointer;

    & svg.mailto {
      fill: $sdss-color-white;
    }

    &::after {
      background-color: $sdss-color-white;
    }
  }

  &:focus {
    color: $sdss-color-white;
    outline: 1px solid $sdss-color-white;
    background-color: transparent;

    &::after {
      background-color: $sdss-color-white;
    }
  }

  &:active {
    color: $sdss-color-white;

    &::after {
      background-color: $sdss-color-white;
    }
  }
}
