.layout--layout-paragraphs-four-column {
  display: flex;
  flex-wrap: wrap;
}

.layout--layout-paragraphs-four-column > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--layout-paragraphs-four-column > .layout__region--column {
    flex: 0 1 25%;
  }
}

.content-well > div {
  flex: 1 1 min-content;
}

.content-well {
  display: flex;
  gap: 4rem;
  padding: 7.2rem 0;
}

.layout__region.layout__region--bottom {
  padding-bottom: 7.2rem;
}
