@charset "UTF-8";

.su-masthead--inner .menu--utility-navigation {
  display: inline-block;
  margin-right: 1rem;

  ul.menu {
    margin: 0;
    padding: 1.5rem 0;
    list-style: none;

    li.menu-item {
      display: inline-block;
      margin: 0 1.1rem 0 0;

      a {
        display: inline-block;
        padding: .4rem .8rem .6rem .8rem;
        font-size: 1.5rem;
        text-decoration: none;
      }
    }

    li.menu-item:nth-child(even) {
      a {
        background-color: $sdss-color-white;
        border: .2rem solid $sdss-color-palo-alto-dark;
      }
    }

    li.menu-item:nth-child(odd) {
      a {
        color: $sdss-color-white;
        background-color: $sdss-color-palo-alto-dark;
        border: .2rem solid $sdss-color-palo-alto-dark;
      }
    }

    li.menu-item:last-of-type {
      margin: 0;
    }
  }
}

// Styles for Medium or bigger Screens.
@include grid-media-min('md') {
  .su-masthead--inner .menu--utility-navigation {
    display: inline-block;

    ul.menu {
      margin: 0;
      padding: 1.5rem 0;

      li.menu-item {
        margin: 0 1.8rem 0 0;

        a {
          padding: .8rem 2rem 1rem 2rem;
          font-size: 1.8rem;
        }
      }

      li.menu-item:last-of-type {
        margin: 0;
      }
    }
  }
}
