@charset "UTF-8";

// My theme's config settings.
$su-image-path: "~decanter/core/src/img";
$fa-font-path:  "~@fortawesome/fontawesome-free/webfonts";

// define new versions of the source serif font
@import './fonts';

$su-font-serif-v2: "Source Serif 4 V2", serif;

// Import Decanter Library:
@import 'decanter/core/src/scss/decanter-no-markup';

// Imports
@import '../utilities/index';
@import '../base/index';
@import '../components/index';
@import '../layout/index';
@import '../print/index';
@import '../state/index';
@import '../theme/index';
@import '../pages/index';