@charset "UTF-8";

// Row background variant
// Grey border.
.layout-paragraphs-sdss-bgcolor--grey-border {
    &.layout-paragraphs-sdss-bgcolor {
        border: 2px solid $sdss-color-grey-medium;
        padding: 30px 0 0 0;
        margin: 0 100px 50px;
    }
}

