@charset "UTF-8";

.sdss-newsroom {

  // .sdss-newsroom-nav {
  //   ::marker {
  //     content: "";
  //   }

  //   .sdss-newsroom--menu {

  //     label {
  //       margin-top: 0;
  //     }

  //     // Expand/collapse buttons for newsroom.
  //     .menu-item--expanded {
  //       background: none;

  //       > a {
  //         &::after {
  //           content: '  ';
  //           display: inline-block;
  //           background: url("../../assets/svg/caret-closed-black.svg") no-repeat;
  //           width: 12px;
  //           height: 7px;
  //           margin-left: 7px;
  //         }
  //       }
  //     }

  //     .menu-item--expanded {
  //       > a {
  //         &.active {
  //           &::after {
  //             background: url("../../assets/svg/caret-opened-green.svg") no-repeat;
  //           }
  //         }
  //       }
  //     }


  //     //End buttons

  //     .menu-item--expanded {
  //       .menu {
  //         display: none;
  //       }

  //       >.active {
  //       ~.menu {
  //           display: flex;
  //           flex-wrap: wrap;
  //           align-items: center;
  //           justify-content: space-evenly;
  //           align-content: space-around;
  //           row-gap: 4rem;
  //           column-gap: 7.5rem;

  //           color: $sdss-color-white;
  //           position: absolute;
  //           top: 13rem;
  //           z-index: 12;
  //           top: 30rem;
  //           z-index: 12;
  //           margin: 0 12rem;
  //           left: 50rem;
  //           max-width: 81rem;

  //           a {
  //             color: $su-color-white;
  //             font-size: 2.2rem;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}





// If user is logged in.
.role--authenticated {
  .newsroom-menu--bg {
    margin-top: 76px;
    left: -16vw;
  }


  .sdss-newsroom {
    .sdss-newsroom-nav {
      .sdss-newsroom--menu {
        .menu-item--expanded {
          >.active {
            ~.menu {
              left: 0;
              top: 13rem;
            }
          }
        }
      }
    }
  }
}
