@charset "UTF-8";

.sdss-newsroom {

  .sdss-newsroom-nav {
    .sdss-newsroom--menu {

      .menu-item--expanded {

        >.menu {
          flex-direction: column;

          background-color: bisque;
          position: absolute;
          top: 13rem;
          z-index: 6;
        }

      }

    }

    // Open and close functionality.
    .sdss-newsroom--menu ul,
    .sdss-newsroom--menu input,
    .sdss-newsroom--menu .closer,
    .sdss-newsroom--menu input:checked ~ .opener{
        display:none;
    }
    .sdss-newsroom--menu input:checked ~ ul,
    .sdss-newsroom--menu input:checked ~ .closer{
        display:block;
    }

  }
}


