@charset "UTF-8";

.section-header--newsroom {

}

.su-sdss-news-dek-long {
  p {
    @include sdss-newsroom-topics;
  }
}

.su-news-title,
.su-sdss-news-dek-long,
.su_news_publishing_date-region {
  max-width: 850px;
}

.byline-social-media-wrapper {

  .sdss-byline--wrapper {
    @include flex-column(12 of 12);

    display: grid;
    grid-template-columns: 1fr 210px;
    align-items: center;

    line-height: 1.75;
    max-width: 850px;

    @include grid-media-max('xl') {
      grid-template-columns: 1fr;
      grid-row-gap: 2.3rem;
    }
  }

  .su-news-publishing-date {
    @include sdss-newsroom-byline;

  }

  .news-date-pipe-byline {
    @include sdss-newsroom-byline;
    @include responsive-spacing('margin-right', 2);

    div {
      display: inline;
      line-height: 1.75;
    }

    >span {
      display: inline;
    }
  }

  .news-social-media {

    >div:first-of-type {
      padding-left: 0;
    }
  }

}
