@charset "UTF-8";

.sdss-newsroom {

  .sdss-newsroom-nav {
    .sdss-newsroom--menu {

      label {
        margin-top: 0;
      }

      .menu-item--expanded {

        >.menu {
          flex-direction: column;

          background-color: bisque;
          position: absolute;
          top: 13rem;
          z-index: 6;
        }

      }

    }

    // Open and close functionality.
    .sdss-newsroom--menu {

    }

  }
}


