@charset "UTF-8";

// Mobile menu for the newsroom

.newsroom-mobile--btn {
  display: none;
}

@include grid-media-max('md') {

  // Setting up the green background.
  body.mobile-menu {
    background-color: $sdss-color-green-link;

    .su-brand-bar--dark,
    .su-masthead {
      background-color: $sdss-color-green-link;
    }

    .newsroom-mobile--btn {
      display: none;
    }

  }

  .newsroom-mobile--btn {
    display: block;
    border: 1px solid $su-color-black-20;
    padding: 15px 20px 17px 20px;
    max-width: 21rem;

    a {
      color: $sdss-color-green-link;
      font-weight: $su-font-semi-bold;
      line-height: 109%; /* 18.53px */
    }
  }

  .newsroom-wrapper:has(nav > button[aria-expanded="true"]) {
    background: #155f65;

    .menu--newsroom {
      justify-items: left;

      h2 {
        color: $su-color-white;
        padding: 20px 20px 30px 20px;
      }
    }
  }
}

// .newsroom-wrapper:has(nav > a:not([class])) ~ span {
//   display: none;
// }



