@charset "UTF-8";

.newsroom-wrapper {
  border-bottom: 1px solid $su-color-black-20;
}

.menu--newsroom {
  @include centered-column;

  display: grid;
  grid-template-columns: 160px 1fr 260px;
  align-items: center;

  margin-top: 4.3rem;
  margin-bottom: 3.8rem;

  @include grid-media-max('md') {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  // Unsetting for mobile.
  max-width: unset;
  width: unset;

  h2 {
    font-size: 32px;
    margin-bottom: 0;

    @include grid-media-max('md') {
      margin-bottom: 7rem;
    }
  }

  .sdss-newsroom-nav {
    order: 2;
  }

  .newsroom-search {
    order: 3;
  }

}
