@charset "UTF-8";

.sdss-newsroom--wrapper {
  border-bottom: 1px solid $su-color-black-20;
}

.sdss-newsroom {
  @include centered-column;

  display: grid;
  grid-template-columns: 160px 1fr 260px;
  align-items: center;

  margin-top: 4.3rem;
  margin-bottom: 3.8rem;

  .newsroom-menu-label {
    @include type_a;

    line-height: 108%;

  }

  .sdss-newsroom--menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    gap: 2.9rem;
    margin-right: 2em;

    li {
      margin-bottom: 0;
      padding-top: 0;

      &.menu-item--expanded {
        a {
          font-weight: $su-font-semi-bold;
        }
      }

      >a {
        color: $sdss-color-green-link;
        display: block;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
          border-bottom: 1px solid $sdss-color-blue-hover;
          color: $sdss-color-grey-dark;
        }
      }


      a  {
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
          border-bottom: 1px solid $sdss-color-blue-hover;
          color: $sdss-color-green-link;
        }
      }
    }
  }

  // .newsroom-menu__nav-toggle {
  //   &.newsroom-menu__nav-toggle--right {


  //     @include grid-media-min('lg') {
  //       display: none;
  //     }
  //   }
  // }


}
