@charset "UTF-8";

.layout--layout-paragraphs-one-column  {
  // Needs to be on a full width page.
  .ptype-sdss-spotlight {
    margin-left: unset;
    max-width: unset;
  }

  .sdss-spotlight {
    // Responsive first
    .su-card {

      .su-content__wrapper {
        padding-left: 5rem;
        padding-right: 5rem;
      }

      @include grid-media-min('lg') {
        display: flex;

        .su-figure__wrapper {
          order: 2;
        }

        .su-content__wrapper {
          align-self: center;
          padding-left: 10rem;
        }
      }

      @include grid-media-min('2xl') {
        .su-content__wrapper {
          padding-right: 10rem;
        }
      }
  
      // Padding
      .su-news-header,
      .su-card__contents,
      .news-vertical-teaser__source,
      .news-vertical-teaser__topics {
        padding: 0;
        margin: 0;
      }

      .su-news-header {
        @include responsive-spacing('margin-bottom', 0);
      }

      .news-vertical-teaser__topics {
        @include responsive-spacing('margin-top', 1);
      }

      .news-vertical-teaser__pub-date {
        @include responsive-spacing('margin-bottom', 1);
        @include responsive-spacing('margin-top', 1);

        padding: 0;
        
        @include grid-media-min('lg') {
          margin-top: 0;
        }
      }
  
      .su-card__contents {
        p {
          @include sdss-newsroom-med-paragraph;
        }
      }
  
      // Image aspect ratios
      img,
      picture {
        aspect-ratio: 2/2;
  
        // Image aspect ratios
        @include grid-media-min('sm') {
          aspect-ratio: unset;
          width: 100%;
        }
      }
    }
  
  }
}

.layout--layout-paragraphs-two-column,
.layout--layout-paragraphs-three-column {
  @include grid-media-max('md') {
    .su-card {
      display: flex;
      align-items: center;

      .su-content__wrapper {
        padding-right: 5rem;
      }

      .su-figure__wrapper {
        order: 2;
        flex-basis: 40%;

        img,
        picture {
          aspect-ratio: 2/2;
        }
      }
    }
  }
}
