@charset "UTF-8";

// Option A header variant styles.
header.su-masthead {
  .sdss-masthead-main.sdss-masthead-main--option-a {
    .sdss-masthead-content {
      display: flex;
    }

    .sdss-masthead-branding {
      display: flex;
    }

    .sdss-masthead-menus {
      display: flex;
      flex-wrap: nowrap;
    }
    
    .su-multi-menu {
      // Mobile / hamburger menu toggle button.
      .su-multi-menu__nav-toggle {
        background-color: $su-color-white;
        color: $su-color-black;
        
        &::after {
          background-image: url("../../assets/svg/hamburger-black.svg");
        }

        &[aria-expanded=true] {
          &::after {
            background-image: url("../../assets/svg/close.svg");
          }
        }
      }
    }


    // Utility nav menu styles.
    .sdss-masthead-content .menu--utility-navigation {
      ul.menu {
        li.menu-item:nth-child(odd) {
          a {
            color: $sdss-color-white;
            background-color: $sdss-color-palo-alto-dark;
            border: .2rem solid $sdss-color-palo-alto-dark;

            &:hover {
              text-decoration-color: $sdss-color-grey-60;
            }
          }
        }

        li.menu-item:nth-child(even) {
          a {
            color: $sdss-color-palo-alto-dark;
            background-color: $sdss-color-white;
            border: .2rem solid $sdss-color-palo-alto-dark;

            &:hover {
              text-decoration-color: $sdss-color-grey-dark;
            }
          }
        }
      }
    }

    @include grid-media-min('lg') {
      .sdss-masthead-content {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        background: $sdss-color-white;
      }
    }
  }
}

// Option a header variant styles for the desktop menu.
.desktop-menu {
  header.su-masthead {
    .sdss-masthead-main.sdss-masthead-main--option-a {
      @include grid-media-min('lg') {
        .sdss-masthead-content {
          .system-menu-block {
            align-self: flex-end;
            padding: 0 0 0 1.5rem;
          }
        }
      }
    }
  }
}