@charset "UTF-8";

// Option A header variant styles.
header.su-masthead {
  .sdss-masthead-main.sdss-masthead-main--option-a {
    .sdss-masthead-content {
      display: flex;
    }

    .sdss-lockup {
      .sdss-lockup-title {
        display: none;
      }
    }
    
    .su-multi-menu {
      // Mobile / hamburger menu toggle button.
      .su-multi-menu__nav-toggle {
        background-color: $su-color-white;
        color: $su-color-black;
        
        &::after {
          background: url("../../assets/svg/hamburger-black.svg") no-repeat 3px 0;
        }

        &[aria-expanded=true] {
          &::after {
            background: url("../../assets/svg/close.svg") no-repeat 3px 0;
          }
        }
      }
    }


    // Utility nav menu styles.
    .sdss-masthead-content .menu--utility-navigation {
      ul.menu {
        li.menu-item:nth-child(odd) {
          a {
            color: $sdss-color-white;
            background-color: $sdss-color-palo-alto-dark;
            border: .2rem solid $sdss-color-palo-alto-dark;

            &:hover {
              text-decoration-color: $sdss-color-grey-60;
            }
          }
        }

        li.menu-item:nth-child(even) {
          a {
            color: $sdss-color-palo-alto-dark;
            background-color: $sdss-color-white;
            border: .2rem solid $sdss-color-palo-alto-dark;

            &:hover {
              text-decoration-color: $sdss-color-grey-dark;
            }
          }
        }
      }
    }

    @include grid-media-min('lg') {
      .sdss-masthead-content {
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        background: $sdss-color-white;

        .system-menu-block {
          align-self: flex-end;
          padding: 0 0 0 3rem;
        }

        .su-multi-menu {
          padding: 0;
          background-color: $sdss-color-white;

          .su-multi-menu__menu {
            &.su-multi-menu__menu-lv1 {
              background-color: $sdss-color-white;
              padding-right: 3rem;
            }
          }
        }
      }
    }
  }
}
