@charset "UTF-8";

header.su-masthead {
  z-index: 100;

  .sdss-masthead-main-inner {
    display: flex;
    justify-content: space-between;
  }

  .sdss-masthead-content {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: unset;
  }

  .sdss-lockup {
    display: flex;
    align-self: stretch;

    .sdss-lockup-logo {
      display: flex;
      align-self: stretch;
      padding: 1.5rem 3rem;

      a {
        display: flex;
        align-self: stretch;
      }

      .sdss-lockup-logo-img {
        align-self: center;
        max-width: 100%;
        max-height: 60px;
      }
    }

    .sdss-lockup-title {
      display: none;
    }
  }

  .system-menu-block {
    display: flex;
    align-self: stretch;
    width: auto;
  }

  .su-multi-menu {
    display: flex;
    align-self: stretch;

    .su-multi-menu__nav-toggle {
      align-self: center;
      color: $su-color-white;
      background-color: $sdss-color-palo-alto-dark;
    }
  }

  a.su-site-search__submit {
    display: none;
  }

  .su-site-search {
    &.views-exposed-filter-block {
      display: none;
    }

    form {
      display: none;
    }
  }
}

@include grid-media-min('md') {
  header.su-masthead {
    .sdss-lockup {
      .sdss-lockup-logo {
        padding: 1.5rem 3rem 1.5rem 5rem;

        .sdss-lockup-logo-img {
          max-width: 360px;
        }
      }
    }

    .sdss-masthead-content {
      .su-multi-menu {
        .su-multi-menu__nav-toggle {
          padding: 1rem;
        }
      }
    }
  }
}

@include grid-media-min('lg') {
  header.su-masthead {
    .sdss-lockup {
      .sdss-lockup-logo {
        padding: 1.5rem 3rem 1.5rem 8rem;

        .sdss-lockup-logo-img {
          max-width: 420px;
        }
      }
    }
  }
}

@include grid-media-min('xl') {
  header.su-masthead {
    .sdss-masthead-main-inner {
      max-width: 2000px;
      width: calc(100% - 200px);
      margin: 0 auto;
    }

    .sdss-lockup {
      .sdss-lockup-logo {
        padding: 1.5rem 3rem 1.5rem 0;
      }
    }

    .sdss-masthead-content {
      .su-multi-menu {
        padding: 0;
      }
    }
  }
}


// Header styles to accomodate the desktop menu.
.desktop-menu {
  @include grid-media-min('lg') {
    header.su-masthead {
      .sdss-masthead-main-inner {
        flex-flow: column;
      }

      .su-site-search__wrapper {
        display: flex;
        align-items: center;
        padding: .5rem 3rem;
      }

      a.su-site-search__submit {
        display: inline-block;
      }
    }
  }

  @include grid-media-min('xl') {
    header.su-masthead {
      .sdss-masthead-content {
        .su-multi-menu {
          padding: 0;
        }
      }
    }
  }
}
