@charset "UTF-8";

//padding set up based on layout.
.layout--layout-paragraphs-one-colum {
  .callout {

    &.blue_bg,
    &.white_bg {
      padding: 4.5rem 11.3rem 4.5rem 11.1rem;
    }
  }
}

.layout-paragraphs-sdss-two-column {

  @include grid-media-min('xl') {
    &.layout-paragraphs-sdss-two-column--offset-50-50 {
      .layout__region.layout__region--sidebar {
        > div {
          float: right; // may change this later.
        }
      }
    }
  }

  .callout {
    @include grid-media-min('xl') {
      max-width: 511px;
    }

    &.blue_bg,
    &.white_bg {
      padding: 4.5rem 5.8rem;
    }
  }
}


.callout {
  display: flex;

  // Hiding the text from display.
  .su-callout-blue-bg,
  .su-callout-white-bg,
  .su-select-font-sizing {
    display: none;
  }

  // Setting up appearance
  .decoration {
    font-size: 9.3rem;
    line-height: 14rem;
    position: relative;
    top: -40px;
    margin-right: 1rem;
  }

  .su-callout-author-title {
    color: $su-color-black-70;
  }

  &.blue_bg {
    @include sdss-light-blue--background;

    padding: 4.5rem 11.3rem 4.5rem 11.1rem;

    .decoration {
      color: $sdss-color-blue-hover;
    }
  }

  &.white_bg { // should be default color
    border-left: $sdss-color-blue-bright 3px solid;
    padding: 4.5rem 11.3rem 4.5rem 11.1rem;

    .decoration {
      color: $sdss-color-blue-hover;
    }
  }

  .su-callout-quote {
    > p {
      display: inline;

      &::after {
        content: "\201D";
        display: inline;
      }
    }
  }

  &.large_block_quote {
    .su-callout-quote {
      > p {
        @include sdss-block-quote--big;

        display: inline;

        &::after {
          content: "\201D";
          display: inline;
        }
      }
    }
  }

  &.medium_block_quote {
    .su-callout-quote {
      > p {
        @include sdss-block-quote--med;

        display: inline;

        &::after {
          content: "\201D";
          display: inline;
        }
      }
    }
  }

  &.small_block_quote {
    .su-callout-quote {
      > p {
        @include sdss-block-quote--sm;

        display: inline;

        &::after {
          content: "\201D";
          display: inline;
        }
      }
    }
  }

}

