@charset "UTF-8";

// Login page header.

// Styles for Large or bigger Screens.
@include grid-media-min('lg') {
  .page-user-login {
    header.su-masthead {
      padding: 0;

      section {
        padding: 0;
      }
      
      .sdss-lockup {
        .sdss-lockup-title {
          display: none;
        }
      }
    }
  }
}
