@charset "UTF-8";

//
// Multi Menu
//

.system-menu-block {
  width: 100%;
}

.su-multi-menu {
  @include font-smoothing;
  @include sans;
  display: block;
  position: relative;
  z-index: 100;
  width: 100%;

  .mobile-hidden {
    @include grid-media-max('md') {
      @include hide-visually;
    }
  }

  .su-multi-menu__menu {
    @include margin(0 null);
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    background-color: color(bg, $su-multi-menu-colors);

    .su-multi-menu__item {
      @include margin(null null 0);
    }

    .su-multi-menu__link {
      @include fancy-hover(
        color(border--hover, $su-multi-menu-colors),
        color(border--active, $su-multi-menu-colors),
        'left'
      );
      @include padding(1.6rem 0 1.6rem 2.4rem);
      @include margin(null 1.6rem null null);
      display: block;
      color: color(link, $su-multi-menu-colors);
      font-weight: $su-font-semi-bold;
      font-size: 1.8rem;
      border-bottom: color(divider, $su-multi-menu-colors) solid 1px;
      outline: 0;

      &:focus,
      &:hover {
        color: color(link, $su-multi-menu-colors);
        text-decoration: underline;
      }
    }

    .su-nav-toggle {

      &[aria-expanded="true"] {
        transform: rotate(180deg);
        transition: transform 0.3s ease-out;
      }

      &[aria-expanded="false"] {
        transform: rotate(0deg);
        transition: transform 0.3s ease-out;
      }
    }
  }

  .su-multi-menu__menu-lv1 {
    > .su-multi-menu__item--parent {
      > .su-multi-menu__menu {
        min-width: 300px;
      }
    }

    > li {
      &:last-child {
        > .su-multi-menu__menu-lv2 {
          right: 0;
        }
      }
    }
  }

  .su-multi-menu__menu-lv2,
  .su-multi-menu__menu-lv3,
  .su-multi-menu__menu-lv4,
  .su-multi-menu__menu-lv5 {
    .su-multi-menu__item--parent {
      .su-multi-menu__link-text-wrapper {
        display: inline-block;
        word-wrap: break-word;
        max-width: calc(100% - 38px);
      }
    }
  }

  .su-multi-menu__item--parent {
    position: relative;

    > .su-multi-menu__menu {
      display: none;
    }
  }

  .su-multi-menu__item--expanded {
    // This shows the open children.
    > .su-multi-menu__menu {
      display: flex;
    }
  }

  .su-multi-menu__item--current {
    > .su-multi-menu__link {
      font-weight: $su-font-bold;

      &::before {
        visibility: visible;
        height: 100%;
        width: 6px;
        transform: scaleY(1);
        background-color: color(border--active, $su-multi-menu-colors);
      }

      &:hover,
      &:focus {

        &::before {
          transition: left 0.1s ease-out;
          background-color: color(border--active, $su-multi-menu-colors);
        }
      }
    }
  }

  .su-multi-menu__nav-toggle {
    position: absolute;
    top: -60px;
    right: 0;

    @include padding(0 0 2rem);
    @include margin(0);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    outline: none;
    width: 40px;
    background-color: transparent;
    color: color(h--link, $su-multi-menu-colors);
    font-size: 1.6rem;
    line-height: 0.7;

    &::after {
      @include margin(0 auto);
      display: inline-block;
      width: 30px;
      height: 26px;
      background: url("#{$su-image-path}/hamburger-black.svg") no-repeat 3px 0;
      content: "";
    }

    &[aria-expanded="true"] {
      &::before {
        visibility: visible;
        transform: scaleX(1);
        background-color: color(h--border-expanded, $su-multi-menu-colors);
      }

      &::after {
        width: 22px;
        background: url("#{$su-image-path}/close-black.svg") no-repeat 3px 0;
        background-size: 16px 16px;
      }

      &:focus::before,
      &:hover::before {
        background-color: color(h--border-hover, $su-multi-menu-colors);
      }

      &:active::before {
        background-color: color(border--active, $su-multi-menu-colors);
      }
    }

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: color(h--link, $su-multi-menu-colors);
      box-shadow: none;
    }

    &[aria-expanded="false"] + .su-multi-menu__menu-lv1 {
      display: none;
    }

    &[aria-expanded="true"] + .su-multi-menu__menu-lv1 {
      position: absolute;
    }

    // Toggle button variants
    &--center {
      @include margin(null auto);
    }

    &--right {
      @include margin(null 0 null auto);
    }

    @include grid-media-only('md') {

      &[aria-expanded="true"]  + .su-multi-menu__menu-lv1 {
        max-width: 24em;
        right: 0;
      }
    }
  }  
}


nav {
  &+ .su-site-search {
    display: none;
  }
}

// Hide the moved box
ul {
  li {
    .su-site-search {
      display: none;
    }
  }
}

// Show the moved box.
ul {
  li {
    .su-site-search {
      &.search-block-form {
        @include modular-spacing('margin', 1 1 0 0);
        display: block;
      }
    }
  }
}
