@charset "UTF-8";

// Copied over from sdss_subtheme/src/scss/components/header/_header-option-a.scss

body.sdss-header-variant--option_a {
  header.su-masthead {
    section.su-masthead--inner {
      .su-multi-menu {
        .su-multi-menu__nav-toggle {
          background-color: unset;
          color: $su-color-black;

          &:after {
            background: url("#{$su-image-path}/hamburger-black.svg") no-repeat 3px 0;
          }
        }
      }
    }

    .su-lockup {
      .su-lockup__cell2 {
        display: none;
      }
    }
  }
}
