@charset "UTF-8";

// My theme's config settings.
$su-image-path: '~decanter/core/src/img';
$fa-font-path:  '~@fortawesome/fontawesome-free/webfonts';

// Import Decanter Library:
@import 'decanter/core/src/scss/decanter-no-markup';

// Import SDSS utilities
@import '../utilities/index';

// Full width styles for one-column layout
.layout--layout-paragraphs-one-column,
.layout-paragraphs-sdss-one-column {
  // All paragraphs except banner, news spotlight, wysiwyg, and news list card
  .ptype-stanford-lists,
  .ptype-sdss-filtered-lists,
  .ptype-stanford-gallery,
  .ptype-stanford-card,
  .ptype-stanford-media-caption,
  .ptype-stanford-entity {
    @include sdss-centered-column;
  }
}

// Full width styles for one-four-one layout
.layout--layout-paragraphs-one-four-one,
.layout-paragraphs-sdss-one-four-one {
  .content-well {
    @include sdss-centered-column;
  }

  .layout__region--top,
  .layout__region--bottom {

    // All paragraphs except banner, news spotlight, wysiwyg, and news list card
    .ptype-stanford-lists,
    .ptype-sdss-filtered-lists,
    .ptype-stanford-gallery,
    .ptype-stanford-card,
    .ptype-stanford-media-caption,
    .ptype-stanford-entity {
      @include sdss-centered-column;
    }
  }
}
