.has-new-stanford-styles {
    .ptype-stanford-card {
        .sdss-card-wrapper--grey-dropshadow {
            article.su-card {
                border: 1px solid #D2D2D2;
                background-color: #F5F5F5;
                padding: 21px 25px;
                box-shadow: none;

                .su-card__headline {
                    font-size: 19px;
                    padding-top: 0;
                    padding-left: 0;
                    color: black;
                }

                .su-card__contents {
                    padding: 0;

                    .su-link {
                        @include arrow-btn();
                        text-decoration: none !important;
                        color: #8C1515 !important;

                        &:after {
                            background-color: #8C1515;
                        }
                    }
                }
            }
        }
    }
}