.su-page-components .layout--layout-paragraphs-sdss-two-column-larger-left:has(.su-large-text) {
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

    @include grid-media-min('md') {
        margin-bottom: 100px;
    }
}

.layout--layout-paragraphs-one-column .layout__region.layout__region--description {
    display: block;
}