.has-new-stanford-styles {
    h1 {
        font-size: 64px;
        line-height: 100%;
        margin-bottom: 50px;

        @include grid-media-min('md') {
            margin-bottom: 100px;
        }
    }
    .su-wysiwyg-text .su-intro-text {
        font-size: 30px;
        line-height: 44px;
        font-weight: 400;
    }
}