@charset "UTF-8";

// Decanter overrides.
// ----------------------------------------------------------------------
.su-masthead {
  z-index: 11;

  > section:last-of-type {
    @include grid-media('lg') {
      @include padding(3.6rem null null null);
    }
  }

  .su-site-search__input {
    @include padding(0.6rem 2rem 0.8rem);
    font-family: $su-font-sans;
    border: 1px solid #d9d9d9;
  }

}
