<div class="sdss-newsroom--wrapper">
  <div class="sdss-newsroom">
    <div id="newsroom-menu-label" class="newsroom-menu-label">News & Research</div>

  <nav aria-labelledby="newsroom-menu-label">
    <ul>
      <li><a href=''>Browse topics</a></li>
      <li><a href=''>School news</a></li>
      <li><a href=''>In the media</a></li>
      <li><a href=''>For journalists</a></li>
      <li><a href=''>Subscribe</a></li>
    </ul>
    </nav>

    {# search #}
    <form>
    <label class="su-site-search__sr-label" for="key">Search this site</label>
    <input type="text" id="key" name="key" class="su-site-search__input" placeholder="Search this site" maxlength="128">
    <button type="submit" name="search" class="su-site-search__submit su-sr-only-text">Submit Search</button></form>
    </form>
  </div>
</div>
