@charset "UTF-8";

//
// Multi Menu
//
// The multiple level primary site navigation alternative that is usually in the header region of a website.
// It is a horizontal menu bar on larger breakpoints, while on smaller breakpoints,
// it changes into a vertical menu and can be expanded or collapsed.
//
// The Multi Navigation component is implemented to be accessible. For more information on building
// accessible site navigation, please see
// <a href="https://github.com/SU-SWS/decanter/wiki/About-the-Main-Nav-Component">About the Main Nav Component</a>
// on Decanter's wiki.
//
// .su-multi-menu--buttons    - A multiple tier (split) menu that expand with button toggles.
//
// Markup: ../templates/components/multi-menu/multi-menu.twig
//
// Style guide: Components.Multi Menu
//

.su-multi-menu {
  // All ul containers.
  // -----------------------------------------------------------------------
  .su-multi-menu__menu {
    @include margin(0 null);
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;

    // All li elements.
    // -----------------------------------------------------------------------
    .su-multi-menu__item {
      @include margin(null null 0);
    }

    // All link elements.
    // -----------------------------------------------------------------------
    .su-multi-menu__link {
      @include padding(1.6rem 0 1.6rem 2.4rem);
      @include margin(null 1.6rem null null);
      display: block;
    }

    // The buttons to open or close sub-menus.
    // Not to be confused with the mobile menu toggle.
    // -----------------------------------------------------------------------
    // Might end up changing this later.
    .su-nav-toggle {
      padding: 0;

      &[aria-expanded="true"] {
        transform: rotate(180deg);
        transition: transform 0.3s ease-out;
      }

      &[aria-expanded="false"] {
        transform: rotate(0deg);
        transition: transform 0.3s ease-out;
      }

    }
  }

  // First level styles - Vertical - Mobile.
  // -----------------------------------------------------------------------
  .su-multi-menu__menu-lv1 {

    > .su-multi-menu__item--parent {
      > .su-multi-menu__menu {
        min-width: 300px;
      }
    }

    > li {
      &:last-child {
        > .su-multi-menu__menu-lv2 {
          right: 0;
        }
      }
    }
  }

  // Second level styles
  // -----------------------------------------------------------------------
  .su-multi-menu__menu-lv2 {
    // Drop down menu containers.
    // --------------------------
    @include grid-media('lg') {
      @include padding(1px null null 1.2rem);
      @include margin(null null null -1.7rem);

      box-shadow: none;
      z-index: unset;
      position: relative;
      top: 58px;
      max-width: 100%;

      .su-multi-menu__link {
        width: 98%; // Controls the length of the line seperator.
      }
    }

  }

  // Desktop styles for various levels of dropdown menus.
  // -----------------------------------------------------------------------
  .su-multi-menu__menu-lv2,
  .su-multi-menu__menu-lv3,
  .su-multi-menu__menu-lv4,
  .su-multi-menu__menu-lv5 {

    @include grid-media-min('xs') {
      .su-multi-menu__item--parent {

        .su-multi-menu__link-text-wrapper {
          display: inline-block;
          word-wrap: break-word;
          max-width: calc(100% - 38px);
        }
      }
    }
  }


  // Items with children
  // -----------------------------------------------------------------------
  .su-multi-menu__item--parent {
    position: relative;

    // Hide the drop downs by default.
    > .su-multi-menu__menu {
      display: none;
    }

  }

  // Expanded items state.
  // -----------------------------------------------------------------------
  .su-multi-menu__item--expanded {
    // This shows the open children.
    > .su-multi-menu__menu {
      display: flex;
    }
  }

  // Active or Current items.
  // -----------------------------------------------------------------------
  .su-multi-menu__item--current {
    > .su-multi-menu__link {
      font-weight: $su-font-regular;

      &::before {
        visibility: visible;
        height: 100%;
        width: 3px;
        transform: scaleY(1);
      }

      &:hover,
      &:focus {

        &::before {
          transition: left 0.1s ease-out;
        }
      }
    }
  }

  // The button to toggle or close the mobile menu.
  .su-multi-menu__nav-toggle {
    position: absolute;
    top: -60px;
    right: 0;

    @include grid-media-min('xs') {
      @include padding(0 0 2rem);
      @include margin(0);
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      outline: none;
      width: 40px;
      background-color: transparent;
      font-size: 1.6rem;
      line-height: 0.7;

      &::after {
        @include margin(0 auto);
        display: inline-block;
        width: 30px;
        height: 26px;
        background: url("#{$su-image-path}/hamburger-black.svg") no-repeat 3px 0;
        content: "";
      }

      &[aria-expanded="true"] {
        &::before {
          visibility: visible;
          transform: scaleY(1);
        }

        &::after {
          width: 22px;
          background: url("#{$su-image-path}/close-black.svg") no-repeat 3px 0;
          background-size: 16px 16px;
        }
      }

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        box-shadow: none;
      }

      &[aria-expanded="false"] + .su-multi-menu__menu-lv1 {
        display: none;
      }

      &[aria-expanded="true"] + .su-multi-menu__menu-lv1 {
        @include responsive-spacing('padding-bottom', 1);

        position: absolute;
        right: 0;
        max-width: 600px;
        padding-right: 35px;
      }

      // Toggle button variants
      &--center {
        @include margin(null auto);
      }

      &--right {
        @include margin(null 0 null auto);
      }
    }

    @include grid-media-only('md') {

      &[aria-expanded="true"]  + .su-multi-menu__menu-lv1 {
        max-width: 24em;
        right: 0;
      }
    }

    @include grid-media('lg') {
      display: none;
    }

  }
}

// Search box styling for devices and mobile views.
// Hide the extra search box everywhere
// -----------------------------------------------------------------------
// Hide the search box before moved - in case more than one is added.
nav {
  &+ .su-site-search {
    display: none;
  }
}

// Hide the moved box
ul {
  li {
    .su-site-search {
      display: none;
    }
  }
}

// Show the moved box.
ul {
  li {
    .su-site-search {
      &.search-block-form {
        @include grid-media-between('xs', 'md') {
          @include modular-spacing('margin', 1 1 0 0);
          display: block;
        }
        @include grid-media-min('xs') {
          @include modular-spacing('margin', 1 1 0 0);
          display: block;
        }
      }
    }
  }
}

// Overrides
.su-multi-menu .su-multi-menu__nav-toggle {
  display: flex;
}

> .su-multi-menu__item--parent {
  > .su-multi-menu__menu {
    min-width: 300px;
  }
}

.su-multi-menu .su-multi-menu__menu-lv1>.su-multi-menu__item {
  flex-direction: row;
}

@include grid-media-min('lg')  {
  li.su-multi-menu__item.su-multi-menu__item--parent.su-multi-menu__item--expanded > ul {
    // padding: 0 6px;
    position: relative;
    left: 0;
    margin: 0;
    top: 0;

    > li {
      padding-left: 24px;
    }
  }


  .su-multi-menu .su-multi-menu__menu>.su-multi-menu__item.su-multi-menu__item--active-trail>.su-multi-menu__link {
    &::before {
      background-color: #2e2d29;
      width: 3px;
      transform: scaleY(1);
      visibility: visible;
    }

    &:hover,
    &:focus {
      &::before {
        background-color: #2e2d29;
        height: 3px;
        transform: scaleY(1);
        visibility: visible;
      }
    }
  }

  .su-multi-menu .su-multi-menu__menu>.su-multi-menu__item.su-multi-menu__item--active-trail>.su-multi-menu__link {
    &:before {
      background-color: $sdss-color-palo-alto-dark;
      height: 100%;
      transform: scaleY(1);
      visibility: visible;
      width: 3px;
    }
  }

  .su-multi-menu .su-multi-menu__menu>.su-multi-menu__item.su-multi-menu__item>.su-multi-menu__link {
    &:hover,
    &:focus {
      &:before {
        background-color: $sdss-color-palo-alto-dark;
        height: 100%;
        transform: scaleY(1);
        visibility: visible;
        width: 3px;
      }
    }
  }

  // On desktop breakpoints show and hide the menus.  The default state is to hide under lv2 down.
  .su-multi-menu.su-multi-menu--dropdowns {
    .su-multi-menu__menu.su-multi-menu__menu-lv2 {
      button.su-nav-toggle {
        display: block;
      }

      .su-nav-toggle {
        &[aria-expanded="true"] {
          + ul {
            display: flex;
          }
        }
        &[aria-expanded="false"] {
          + ul {
            display: none;
          }
        }
      }
    }
  }
}

