@charset "UTF-8";

.su-site-search__submit {    
  display: inline-block;
  position: unset;
  right: unset;
  top: unset;
  padding: 0;
  margin: 0;
  width: 32px;
  min-width: 32px;  
  height: 32px;
  min-height: 32px;
  background-image: url("../../assets/svg/magnifying-glass-24px-white.svg");
  background-color: $sdss-color-palo-alto-dark;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  border: 1px solid $sdss-color-palo-alto-dark;
  border-radius: 50%;
  opacity: unset;

  &:focus,
  &:hover {
    background-color: $sdss-color-grey-dark;
    border: 1px solid $sdss-color-grey-dark;
  }
}

li.su-mobile-site-search {
  .su-site-search__submit {
    position: absolute;
    right: 10px;
    background-image: url("../../assets/svg/magnifying-glass-24px-black.svg");
    background-color: $sdss-color-white;
    border: 1px solid $sdss-color-white;

    &:focus,
    &:hover {
      background-color: $sdss-color-white;
      background-size: 75%;
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $sdss-color-grey-dark;
      outline: 1px solid $sdss-color-grey-dark;
    }
  }
}

.search {
  .views-row {
    border-bottom: 1px solid $sdss-color-grey-60;

    div:last-child {
      border: none;
    }

    h2 {
      line-height: 100%;

      a {
        font-weight: $su-font-regular;
        font-size: .6em;
      }
    }

    span.field-content {
      display: block;
      padding-bottom: 1em;
    }
  }
}
