@charset "UTF-8";

.su-site-search__submit {    
  display: inline-block;
  position: unset;
  right: unset;
  top: unset;
  padding: 0;
  margin: 0;
  width: 32px;
  min-width: 32px;  
  height: 32px;
  min-height: 32px;
  background: url("../../assets/svg/magnifying-glass-24px-white.svg") $sdss-color-palo-alto-dark no-repeat center/75% ;
  border-radius: 32px;
  opacity: unset;

  &:hover {
    background: url("../../assets/svg/magnifying-glass-24px-white.svg") $sdss-color-palo-alto-dark no-repeat center/75%;
  }
}

.search {

  .views-row {
    border-bottom: 1px solid $sdss-color-grey-60;

    div:last-child {
      border: none;
    }

    h2 {
      line-height: 100%;

      a {
        font-weight: $su-font-regular;
        font-size: .6em;
      }
    }

    span.field-content {
      display: block;
      padding-bottom: 1em;
    }
  }
}
