# .github/workflows/deploy_branch.yml
# Deploys current branch to ACE application. Does not work with tags or commits,
# such as a pull_request event.
name: Deploy current branch

# Allow this workflow to be called from other workflows.
on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string

jobs:
  deploy:
    name: Deploy Artifact
    runs-on: ubuntu-latest
    container:
      image: pookmish/drupal8ci:php8.3
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch || '' }}
      - name: Restore Cache
        uses: actions/cache@v4
        with:
          path: |
            vendor
            docroot/core
            docroot/libraries
            docroot/modules/contrib
          key: 4.0-${{ hashFiles('drush/drush.yml') }}-${{ hashFiles('composer.json') }}-${{ hashFiles('composer.lock') }}
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.ACQUIA_SSH_KEY }}
          name: id_rsa
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
          if_key_exists: fail
      - name: Deploy Artifact
        run: |
          git config --system --add safe.directory '*' &&
          git config --global user.email "sws-developers@lists.stanford.edu" &&
          git config --global user.name "Github Actions" &&
          ssh-keyscan -t rsa svn-23450.prod.hosting.acquia.com >> /root/.ssh/known_hosts &&
          composer install -n &&
          blt deploy -v -n
