.su_projects {
    max-width: 1300px;
    margin: 0 auto;
    padding-inline: 20px;
    padding-block: 115px;
    font-family: $su-font-sans;

    display: flex;
    flex-direction: column-reverse;
    gap: 40px;

    @include grid-media-min('md') {
        flex-direction: row;
        gap: 78px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        padding-bottom: 11px;
        margin-bottom: 50px;
        border-bottom: 1px solid #D6D6D6;

        h2 {
            font-size: 30px;
            color: black;
            font-weight: 700;
            margin: 0;
            line-height: 27px;
        }
    }

    &__toggle {
        width: 91px;
        height: 36px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &--grid, &--list {
            width: 100%;
            height: 100%;
        }

        &--grid-mode {
            .su_projects__toggle--grid {
                display: block;
            }
            .su_projects__toggle--list {
                display: none;
            }
        }

        &--list-mode {
            .su_projects__toggle--grid {
                display: none;
            }
            .su_projects__toggle--list {
                display: block;
            }
        }
    }

    &__main {

    }

    &__grid {

        &__inner {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;

            @include grid-media-min('md') {
                grid-template-columns: 1fr 1fr;
            }

            @include grid-media-min('lg') {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        
        &.hidden {
            display: none;
        }

        &--overflow {
            display: none;
        }

        &__showmore {
            @include arrow-btn-border();
            display: inline-block;
            border-color: #8C1515;
            color: #8C1515;
            padding: 14px 18px !important;
            cursor: pointer;

            &:after {
                background-color: #8C1515;
            }

            @include accessible-link(#8C1515);

            &__wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 80px;
            }
        }

    }

    &__item {
        text-decoration: none;

        h4 {
            color: black;
            font-size: 20px;
            line-height: 25px;
            font-weight: 500;
            @include arrow-btn();
            margin-top: 10px;
            margin-bottom: 0;

            &:after {
                background-color: #8C1515;
            }
        }

        &:hover {
            .su_projects__image__inner {
                transform: scale(1.1);
            }

            h4 {
                &:after {
                    -webkit-transform: translate3d(.15em, -.15em, 0);
                    transform: translate3d(.15em, -.15em, 0);
                }
            }
        }
    }

    &__list {

        &__item {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding-bottom: 70px;
            border-bottom: 1px solid #D6D6D6;
            margin-bottom: 70px;

            &:last-child {
                border: none;
                margin-bottom: 0;
            }

            @include grid-media-min('md') {
                flex-direction: row;
                gap: 100px;
            }
        }

        &__projects {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        
        &.hidden {
            display: none;
        }

        h3 {
            font-family: $su-font-serif-v2;
            font-weight: 500;
            font-size: 54px;
            line-height: 57px;
            margin: 0;

            @include grid-media-min('md') {
                min-width: 160px;
                max-width: 160px;
            }

            @include grid-media-min('lg') {
                min-width: 260px;
                max-width: 260px;
            }

            color: #8C1515;
        }

        .su_projects__item {
            display: flex;
            flex-direction: column;
            gap: 23px;
            @include grid-media-min('lg') {
                flex-direction: row;
                align-items: center;
            }

            h4 {
                margin-top: 0;
            }
        }
        .su_projects__image {
            @include grid-media-min('lg') {
                max-width: 166px;
                min-width: 166px;
            }
        }
        
    }

    &__image {
        width: 100%;
        aspect-ratio: 16/9;
        position: relative;
        overflow: hidden;
        
        &__inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            transition: transform 0.3s ease-in-out;
        }
    }

    &__flagship {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 3px 7px;
        border-radius: 2px;
        background-color: rgba(255,255,255,0.95);
        font-size: 16px;
        line-height: 22px;
        max-width: calc(100% - 20px);
    }

    &__sidebar {
        @include grid-media-min('md') {
            min-width: 267px;
            max-width: 267px;
        }

        &__inner {
            @include grid-media-max('md') {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease-in-out;
                padding-inline: 1px;

                &.active {
                    max-height: 2000px;
                }
            }
        }

        &__section {
            padding-bottom: 25px;
            border-bottom: 1px solid #D6D6D6;
            margin-bottom: 25px;

            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
            }

            h3 {
                font-size: 20px;
                line-height: 27px;
                color: black;
                font-weight: 700;
                margin-bottom: 12px;
                margin-top: 0;
            }

        }

        &__mobile_title {
            margin-bottom: 16px;

            @include grid-media-min('md') {
                display: none;
            }

            button {
                background-color: transparent;
                color: black;
                width: 100%;
                display: block;
                position: relative;
                font-size: 36px;
                text-decoration: none;
                text-align: left;
                padding: 0;
                margin: 0;

                &.active {
                    &:before {
                        -webkit-transform: translateY(-50%) rotate(180deg);
                        transform: translateY(-50%) rotate(180deg);
                    }
                }

                &:before {
                    background-color: #155f65;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMy40ODkgNS40MTZjLjY0Ny41ODQuNjg1IDEuNTY4LjA4NCAyLjE5OGwtMTAuNCAxMC44ODlBMS42MiAxLjYyIDAgMCAxIDEyIDE5Yy0uNDQ1IDAtLjg3LS4xOC0xLjE3Mi0uNDk3TC40MjggNy42MTRBMS41MjUgMS41MjUgMCAwIDEgLjUxIDUuNDE2YTEuNjMgMS42MyAwIDAgMSAyLjI2MS4wODFMMTIgMTUuMTU4bDkuMjI4LTkuNjZhMS42MyAxLjYzIDAgMCAxIDIuMjYtLjA4MiIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: 50%;
                    border: 1px solid #155f65;
                    border-radius: 50%;
                    bottom: unset;
                    content: "";
                    height: 32px;
                    position: absolute;
                    display: block;
                    right: 0;
                    top: 50%;
                    transition: transform 0.3s ease-in-out;
                    -webkit-transform: translateY(-50%) rotate(0deg);
                    transform: translateY(-50%) rotate(0deg);
                    width: 32px;
                }
            }
        }
    }

    &__search {
        position: relative;

        input {
            background-color: #F4F4F4;
            border: none;
            padding-left: 41px;
            font-size: 19px;
            margin: 0;
            padding-block: 13px;
            margin-bottom: 27px;
        }

        &__icon {
            width: 18.5px;
            height: auto;
            position: absolute;
            left: 13px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    &__checklist {
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin-bottom: 9px;

        &--overflow {
            display: none;
        }

        &__showmore {
            color: #8C1515;
            text-decoration: underline;
            font-weight: 600;
            cursor: pointer;
        }
    }

    &__checkbox {
        [type=checkbox]:checked+label:before {
            background-color: white;
            box-shadow: 0 0 0 1px #b6b1a9;

            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIiBmaWxsPSIjOEMxNTE1Ii8+Cjwvc3ZnPgo=');
        }

        label {
            margin: 0;

            &:before {
                border-radius: 0;
                margin-left: 1px;
                margin-top: -3px;
            }
        }
    }
}